/*Login Start*/

.login {
    background: url("../images/login_bg.gif") repeat-x scroll 0 0 transparent;
    clear: both;
    height: 640px;
    overflow: hidden;
}

.login_bg {
    background: url("../images/login_con.jpg") no-repeat scroll 0 0 transparent;
    clear: both;
    height: 310px;
    line-height: 30px;
    margin: 182px auto 0;
    overflow: hidden;
    width: 960px;
}

.login_left {
    float: left;
    margin-left: 420px;
    margin-top: 60px;
    width: 405px;
}

.login_left li.user {
    background: url("../images/user_icon.jpg") no-repeat scroll 20px 8px transparent;
}
.login_left li {
    clear: both;
    margin-bottom: 18px;
    overflow: hidden;
}
.login_left li.password {
    background: url("../images/password_icon.jpg") no-repeat scroll 20px 8px transparent;
}

.login_left li input {
    float: left;
    height: 28px;
    line-height: 30px;
    width: 193px;
}


.login_left li label {
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    text-align: right;
    width: 95px;
}
.usertype{ margin:10px;}
.usertype label
{
    float: left;
       margin-right: 20px;
    }
.usertype  input
{
    float: left;
    margin-right: 2px;
    }
.login_left .login_button button {
    background: url("../images/login_button.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 26px;
    width: 93px;
}
.login_button
{
    float:left;
     margin-top:1px;
     margin-left:210px;
     
}

.login_button button {
    background: url("../images/login_button.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 26px;
    width: 93px;

    border: 0 none;
    margin-left: 10px;
    margin-top: 5px;
}
/*Login End*/