<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration[
  <!ELEMENT add ANY> 
  <!ATTLIST add id ID #REQUIRED>
]>
<configuration>
  <add id="chkAuto">Yes</add>
  <add id="pt">
  </add>
  <add id="dc">
  </add>
  <add id="o">
  </add>
  <add id="oc">
  </add>
  <add id="ci">
  </add>
  <add id="pi">
  </add>
  <add id="type">0</add>
  <add id="path">D:\ExportCSV</add>
  <add id="file">ProfileSearch</add>
  <add id="name">
   自动导出XML
  </add>
  <add id="application">strat</add>
  <add id="cycle">day</add>
  <add id="day">9:49:19</add>
  <add id="time">16:43:14</add>
  <add id="hour">1</add>
</configuration>